
# Default `requirements.txt`, used by CircleCI and local dev (see README.md).
# Do not add package specs here, rather put them into one of the requirements
# files in the `/requirements` directory.

-r requirements/dev.txt
